# Exported from Render on 2025-11-30T19:44:31Z
version: "1"
services:
- type: web
  name: MetroEval-Frontend
  runtime: docker
  repo: https://github.com/TanvirNibir/MetroEval
  plan: starter
  region: frankfurt
  dockerContext: .
  dockerfilePath: ./Dockerfile.frontend
  autoDeployTrigger: commit
- type: web
  name: MetroEval
  runtime: python
  repo: https://github.com/TanvirNibir/MetroEval
  plan: starter
  envVars:
  - key: MONGODB_URI
    sync: false
  - key: DATABASE_URL
    sync: false
  - key: SECRET_KEY
    sync: false
  - key: GEMINI_API_KEY
    sync: false
  region: frankfurt
  buildCommand: pip install --upgrade pip && pip install -r requirements.txt
  startCommand: gunicorn --bind 0.0.0.0:$PORT --workers 1 --timeout 120 --access-logfile
    - --error-logfile - --log-level debug wsgi:app
  autoDeployTrigger: commit
  rootDir: .
